{% extends 'base.html.twig' %} {% block stylesheets %}
{{ encore_entry_link_tags("app") }}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" />
{% endblock %} {% block title %}Avez vous 18ans?{% endblock %} {% block body %}
<div class="full">
  <div class="baci">
    <div>
    Le mode tout public est activé si vous voulez acceder à tout notre site nous devons verifié si vous avez plus de 18 ans 
    </div>
    <div>
      <button type="submit" id="green">
        <a href="{{ path('app_register') }}">Oui même si c'est pas vrai</a>
      </button>
      <button type="submit" id="red">
        <a href="{{ path('home') }}">Oh bah non</a>
      </button>
    </div>
  </div>
</div>
{% endblock %}
