<h1>Bonjour, veuillez comfirmer votre email!</h1>

<p>
    Comfirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer votre Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


