{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h3>Mot de passe oublié</h3>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Mot de passe oublié?</button>
    {{ form_end(resetForm) }}
{% endblock %}

