{% extends 'base.html.twig' %}

{% block title %}Edit Livres{% endblock %}

{% block body %}
    <h2>Edit Livres</h2>

    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_book_index') }}">back to list</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
