{% extends 'base.html.twig' %}

{% block title %}Changement date de Naissance{% endblock %}

{% block body %}
    <h3>18+</h3>

    {{ include('user/_form.html.twig', {'button_label': 'Changer'}) }}

    

    
{% endblock %}
